<p id="notice"><%= notice %></p>

<h1>Listing Polls</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>End Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.order(:end).each do |poll| %>
      <tr>
        <td><%= poll.title %></td>
        <td><%= poll.end.to_formatted_s(:db) %></td>
        <td><%= link_to 'Vote', poll %></td>
        <td><%= link_to 'Edit poll', edit_poll_path(poll) %></td>
      </tr>

      <% if poll.end <= Time.now.in_time_zone('America/Los_Angeles').to_date %>
        <% poll.options.order(:title).each do |option| %>
            <tr>
              <td><%= option.title %></td>
              <td><%= option.count %></td>
            </tr>
        <% end %>
      <% else %>
          <tr>
            <td>Poll in progress</td>
          </tr>
      <% end %>

      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a New Poll', new_poll_path %>
