
<h2 align="center"><%= @poll.title %></h2>

<div>
  <% if @poll.end <= Time.now %>
    <h2 align="center">Ended at: <%= @poll.end %></h2>

    <div align="center">
    <%= link_to 'Edit', edit_poll_path(@poll), class: 'btn btn-primary'  %> |
    <%= link_to 'Back', polls_path, class: 'btn btn-primary' %>
    </div>
    <div style="height: 50px"></div>
    <table class="table" style="width: 400px" align="center">
      <thead>
        <tr>
          <th>Option</th>
          <th>Count</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
          <% @poll.options.order(:title).each do |option| %>
              <tr>
                <td><%= option.title %></td>
                <td><%= option.count %></td>
              </tr>
          <% end %>
        <tr></tr>
      </tbody>
  <% else %>
          <h2 align="center">Ends at: <%= @poll.end %></h2>
          <div align="center">
          <%= link_to 'Edit', edit_poll_path(@poll), class: 'btn btn-primary'  %> |
          <%= link_to 'Back', polls_path, class: 'btn btn-primary' %>
          </div>
          <div style="height: 50px"></div>
          <table class="table" style="width: 400px; margin-left: 40px">
            <thead>
              <tr>
                <th></th>
                <th>Option</th>
                <th colspan="3"></th>
              </tr>
            </thead>
          <tbody>
          <% @poll.options.order(:title).each do |option| %>
            <tr>
              <td><%= link_to "Vote", "/polls/#{@poll.id}/options/#{option.id}", method: :put%></td>
              <td><%= option.title %></td>
            </tr>
          <% end %>
          <tr></tr>
        </tbody>
  <% end %>
</div>
