<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>

<p>
  <strong>End:</strong>
  <%= @poll.end %>
</p>

<h2>Options</h2>
<% @poll.options.each do |option| %>
  <p>
    <strong>Option:</strong>
    <%= option.title %>
  </p>

  <p>
    <strong>Option:</strong>
    <%= option.count %>
  </p>
<% end %>

<h2>Add option:</h2>
<%= form_for([@poll, @poll.options.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :count %><br>
    <%= f.text_field :count %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
